* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
}
h1 {
  font-size: 6rem;
  color: black;
  text-shadow: 3px 3px rgb(146, 146, 146);
}
@media (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: 4.4rem;
  }
}

h2 {
  font-size: 2rem;
  color: black;
  text-shadow: 3px 3px rgb(146, 146, 146);
}
@media (max-width: 480px) {
  h2 {
    font-size: 1.2rem;
  }
}

h3 {
  font-size: 4rem;
  border-bottom: 1px solid black;
  margin: auto;
  width: 40%;
  color: black;
  text-shadow: 3px 3px rgb(146, 146, 146);
}
@media (max-width: 480px) {
  h3 {
    font-size: 2.25rem;
  }
}

@media (max-width: 480px) {
  .navbar-brand {
    width: 40px;
    height: 60px;
  }
}

@media (max-width: 480px) {
  li {
    font-size: 0.7rem;
  }
}

@media (max-width: 480px) {
  p {
    font-size: 0.7rem;
  }
}

body {
  background-color: rgb(199, 199, 199);
  text-align: center;
  font-family: "Poppins", sans-serif;
}
body main .scroll-uxui {
  /* scroll-behavior: smooth; */
  scroll-margin: 130px;
}
body main .titulo-main {
  padding: 3rem 0;
}
@media (max-width: 480px) {
  body main .titulo-main {
    padding: 0.2rem;
  }
}
body .sobre-mi-contenedor .bloque-sobre-mi {
  background-color: white;
  width: 70rem;
  height: 30rem;
  border-radius: 1rem;
  text-align: center;
  margin: 1rem auto;
  box-shadow: #01153B 0.5rem 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 1s all ease;
}
body .sobre-mi-contenedor .bloque-sobre-mi:hover {
  transform: scale(0.98);
}
@media (max-width: 480px) {
  body .sobre-mi-contenedor .bloque-sobre-mi {
    width: 18rem;
    flex-direction: column;
    height: 23rem;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  body .sobre-mi-contenedor .bloque-sobre-mi {
    width: 45rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  body .sobre-mi-contenedor .bloque-sobre-mi {
    width: 25rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  body .sobre-mi-contenedor .bloque-sobre-mi {
    flex-direction: column;
  }
}
body .sobre-mi-contenedor .bloque-sobre-mi .imagen-perfil img {
  border-radius: 10rem;
  margin: 1rem;
}
@media (max-width: 480px) {
  body .sobre-mi-contenedor .bloque-sobre-mi .imagen-perfil img {
    width: 169px;
    height: 199px;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  body .sobre-mi-contenedor .bloque-sobre-mi .imagen-perfil img {
    width: 200px;
    height: 230px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  body .sobre-mi-contenedor .bloque-sobre-mi .imagen-perfil img {
    width: 200px;
    height: 230px;
  }
}
body .sobre-mi-contenedor .bloque-sobre-mi p {
  margin: 1rem;
}
body .skills-contenedor .skills {
  background-color: black;
  margin: 2rem auto;
  padding: 1rem 2rem;
  width: 70rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 1s all ease;
}
body .skills-contenedor .skills:hover {
  transform: scale(0.98);
}
@media (max-width: 480px) {
  body .skills-contenedor .skills {
    width: 18rem;
    margin: 1rem auto;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  body .skills-contenedor .skills {
    width: 45rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  body .skills-contenedor .skills {
    width: 25rem;
  }
}
body .skills-contenedor .skills p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  color: white;
  text-shadow: 4px 4px black;
}
@media (max-width: 480px) {
  body .skills-contenedor .skills p {
    font-size: 1rem;
    margin-bottom: 0.2rem;
  }
}
body .skills-contenedor .skills .container {
  width: 100%;
  background-color: white;
  padding: 0;
}
body .skills-contenedor .skills .item-skill {
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
  font-weight: bold;
}
body .skills-contenedor .skills .html {
  width: 90%;
  background-color: #058DFA;
}
body .skills-contenedor .skills .css {
  width: 80%;
  background-color: #058DFA;
}
body .skills-contenedor .skills .js {
  width: 75%;
  background-color: #058DFA;
}
body .skills-contenedor .skills .sass {
  width: 60%;
  background-color: #058DFA;
}
body .skills-contenedor .soft-skills {
  background-color: white;
  margin: 2rem auto;
  padding: 1rem 2rem;
  width: 70rem;
  border-radius: 1rem;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 1s all ease;
}
body .skills-contenedor .soft-skills:hover {
  transform: scale(0.98);
}
@media (max-width: 480px) {
  body .skills-contenedor .soft-skills {
    width: 18rem;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  body .skills-contenedor .soft-skills {
    width: 45rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  body .skills-contenedor .soft-skills {
    width: 25rem;
  }
}
body nav {
  position: sticky !important;
  top: 0;
  z-index: 4;
}
body nav div .navbar-nav a {
  font-size: 1.5rem;
}
body nav div .navbar-nav .nav-link {
  margin: 0 0.5rem;
}
body nav div .navbar-nav .nav-link:hover {
  border: #022C7A;
}
body .caja-proyecto {
  transition: 1s all ease;
  margin: 1rem;
  color: white;
}
body .caja-proyecto .contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 0.6rem;
}
@media (max-width: 480px) {
  body .caja-proyecto .contenedor {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  body .caja-proyecto .contenedor {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  body .caja-proyecto .contenedor {
    grid-template-columns: repeat(2, 1fr);
  }
}
body .caja-proyecto .contenedor .card {
  transition: 0.7s all ease;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
body .caja-proyecto .contenedor .card:hover {
  transform: scale(0.98);
}
body .caja-proyecto .contenedor img {
  border: 0.5rem black solid;
  border-radius: 0.5rem;
  width: 100%;
}
body .footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem 0;
}
body .footer .redes-footer {
  margin-bottom: 0;
}
body .footer .redes-footer a i {
  font-size: 2rem;
  color: white;
  transition: 1s ease;
}
@media (max-width: 480px) {
  body .footer .redes-footer a i {
    font-size: 1.2rem;
  }
}
body .footer .redes-footer a i:hover {
  padding: 0 0.5rem;
}
body .footer p {
  margin-bottom: 0;
  padding-top: 1rem;
  transition: 0.3s;
}
@media (max-width: 480px) {
  body .footer p {
    padding-top: 0.6rem;
    font-size: 0.5rem;
  }
}
body .footer p:hover {
  text-decoration: underline;
}
body .tag {
  background-color: black;
  color: white;
}

/*# sourceMappingURL=style.css.map */
